* {
    padding: 0;
    margin: 0;
    font-family: "Formular", sans-serif;
    color: #111827;
}

body {
    background-color: #e6e6e6;
}

.header {
    background-color: white;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

.no-nav {
    display: flex;
    justify-content: space-between;
}

.logo-name {
    display: flex;
}

.logo-name p {
    margin-top: 7%;
}

.header-text {
    display: flex;
}

.header-content {
    justify-content: right;

}

.header-sell {
    width: 200%;
    margin-top: 0.2%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-line {
    margin-left: 7%;
    margin-right: 2%;
    border-left: solid 1px rgba(167, 139, 250, 1);
}

.header-num {
    width: 200%;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.header-text-tel {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    width: 200%;
}

.header-url {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.header-url ul {
    width: 50%;
}

.header-url a {
    text-decoration: none
}

.header-url li {
    list-style-type: none;
    display: inline;
    margin-right: 2%;
}

.logo-name p {
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
}

.header-text {
    justify-content: flex-end;
}

.header-url button {
    display: flex;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;

    border: none;
    color: white;
    background: #8B5CF6;
}

main {
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 5%;
}

.img-calcul {
    display: flex;
    align-items: center;
}

.about-us {

}

.about-us img {
    align-items: flex-end;
}

.about-us h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    width: 89%;
}

.about-us p {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 87%;
}

.calculator {
    width: 97%;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    margin-left: 2%;
}

.calculator h2 {
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.calculator p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 60%;
    margin-left: 20%;
}

.application {

}

.calculator-input {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: space-between;
}

.calculator-input input {
    font-size: 1em;
    width: 40%;
    margin-top: 5%;
    margin-left: 4%;
    padding: 2%;
    border: solid 2px #111827;
    border-radius: 3px;
}

.calculator-input .name {
    width: 92%;
}

.application-but {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 3%;
    align-items: center;
    margin-bottom: 4%;
}

.application-but button {
    background-color: #8B5CF6;
    color: white;
    border-color: #8B5CF6;
    border-radius: 3px;
    box-shadow: none;
    width: 92%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.our-advantages {
    margin-top: 7%;
}

.our-advantages h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 3%;
}

.our-advantages ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 30% 30% 30%;
}

.our-advantages li {
    margin-right: 10%;
}

.our-advantages-cell {
    margin-top: 4%;
    display: flex;
    align-items: center;
}

.our-advantages-cell-text {
    margin-left: 5%;
}

.our-advantages-cell-text h3 {
    font-size: 24px;
}

.our-advantages-cell p {
    font-size: 14px;

    font-weight: 400;
    line-height: 20px;
}